:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}
.nav{
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7f7183b6;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f2/3D_Brown_noise.gif');
  background-size: cover; /* Adjust as needed */
  background-blend-mode: overlay; /* Blend mode for the noise */
  opacity: 0.8; /* Adjust opacity as needed */
  /* Other styles for your content */
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}
.home{
  border-width: 5px;
  display: flex;
  background-image: url("https://i.pinimg.com/originals/c8/a7/1e/c8a71e63e5eaa36d945a4d627822fa3e.gif");
  background-size: 100% 100%;
}
#wassup{
  font-family: sans-serif;
  font-size: 40px;
  font-style: italic;
  color: whitesmoke;
}
.left{
  /* border: solid blue */
  /* background-image: url('https://media0.giphy.com/media/PCbbTEkATqZM4xYanM/200w.gif?cid=6c09b952gt1z3xkbcrhxz6409itxr4c22k2f0txew552gm5i&ep=v1_gifs_search&rid=200w.gif&ct=g'); */
  background-size: 100% 100%;
  width: 20%;
  margin: 10px;
}
.right{
  background-image: url("https://media.tenor.com/67oUgYIbWDAAAAAd/sadeisthegoat.gif");
  background-size: 100%;
  width: 20%;
  margin: 10px;
}
.mid{
  border-width: 5px;
  width: 90%;
  margin: 10px;
  display: grid;
  background-image: url('https://i.redd.it/660hm0ehhwt61.gif');
  background-size: 100% 100%;
}
#new{
  border: solid red;
}
#entry{
  width: 100%;
}
.addTask{
  display: flex;
  margin: 5px;
}
.midinput{
  display: block;
  width: 100%;
  /* align-items: center; */
  /* width: 100%; */
}
#midinput{
  margin: 10px;
  width: 80%;
  height: 200px;
  text-decoration: overline;
  text-align: top;
}
#task{
  border: outset #573e4d4b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-top: 5px;
  color: black;
}
span{
  color: red;
  font-family: sans-serif;
}
h1{
  font-family: sans-serif;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin outset var(--tan-3);
  border-radius: 6px;
  color: black;
  background-color: rgba(255, 255, 255, 0.336);
  font-family: sans-serif;
  background-image: none !important; /* prevent lastpass */
  outline: none;
  cursor: pointer;
}

input:focus {
  border-color: rgba(245, 245, 245, 0.575);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}